Adafruit_Blinka==6.18.0
adafruit_circuitpython_pn532==2.3.5
adafruit_circuitpython_ssd1306==2.12.3
adafruit_pn532==1.2.1
adafruit_ssd1306==1.6.2
aiopubsub==3.0.0
awscrt==0.12.6
awsiot==0.1.3
awsiotsdk==1.8.0
board==1.0
Pillow==9.0.0
python-dotenv==0.19.2
