Adafruit_Blinka==6.20.1
adafruit_circuitpython_pn532==2.3.6
adafruit_circuitpython_ssd1306==2.12.4
adafruit_pn532==1.2.1
adafruit_ssd1306==1.6.2
aiofile==3.7.4
aiopubsub==3.0.0
awscrt==0.13.0
awsiot==0.1.3
awsiotsdk==1.9.0
Pillow==9.0.1
python-dotenv==0.19.2
adafruit-python-shell==1.3.3
pylint==2.12.2
marshmallow==3.14.1
boto3==1.20.48
